body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
  
#app {
    text-align: center;
}

h1 {
    color: #333;
}

input {
    height: 25px;
    width: 150px;
}

input, button {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

